<div id="wrapper">
  <div id="title">
    <div class="centerflex">
      <img id="title-logo" src="assets/logo-64x64.png" width="32px" height="32px">
      <span id="title-text">GPF: Genotypes and Phenotypes in Families</span>
    </div>

    <div *ngIf="(userInfo$ | async)?.email as email; else loggedOut" class="centerflex">
      <span>{{ email }}</span>
      <button id="log-out-button" class="btn btn-sm" (click)="logout()">Log Out</button>
    </div>
    <ng-template #loggedOut>
      <button id="log-in-button" class="btn btn-secondary" (click)="login()">Log In</button>
    </ng-template>
  </div>

  <div id="tables">
    <ng-container *ngFor="let instance of instances">
      <app-instance [instance]="instance"></app-instance>
    </ng-container>
    <div id="documentation-link">
      <a href="https://www.iossifovlab.com/gpfuserdocs/" target="_blank">User documentation</a>
    </div>
  </div>
</div>
