td {
  padding: 8px;
}

table, th, td {
  border: 1px solid rgb(218, 218, 218) !important;
}

h4 {
  display: inline;
  margin-right: 5px;
}

:host::ng-deep p {
  display: inline;
}

table {
  margin-bottom: 44px;
}

table, #documentation-link {
  max-width: 1200px;
}

.big-title {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 24px;
  vertical-align: middle;
  padding: 10px 8px 10px 8px;
  background-color: #eeeeee;
}

.top-header {
  font-size: 22px;
  font-weight: 500;
}

#agp-link {
  float: right;
}

.fa-lock {
  color: #c22727;
}

.fa-unlock {
  color: #3ea658;
}

.access-td {
  text-align: center;
  padding-bottom: 1px;
}
