
  <div class="top-header" colspan="2">
    <span><a [attr.href]="frontendPath" target="_blank">{{ frontendPathToShow }}</a> instance</span>
    <span *ngIf="hasAgp" id="agp-link"><a [attr.href]="agpPath" target="_blank">Autism gene profiles</a></span>
  </div>

<table *ngIf="content && loadingFinished">
  <thead>
    <tr>
      <th scope="col" class="big-title">Dataset</th>
      <th scope="col" class="big-title" style="font-size: 16px; font-weight: bold">Access</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngTemplateOutlet="datasets; context: { entries: content['data'], nesting: 0, instance: instance}">
    </ng-container>
  </tbody>
</table>

<ng-template #datasets let-entries="entries" let-nesting="nesting" let-instance="instance">
  <ng-container *ngFor="let entry of entries">
    <ng-container *ngIf="visibleDatasets.includes(entry.dataset)">
      <tr>
        <td [ngStyle]="{'padding-left': (nesting * 60 || 8) + 'px'}">
          <h4 [style.margin-bottom]="entry.description ? '8px' : '0'">
            <a [attr.href]="constructLink(entry.dataset)" [style.font-size]="nesting ? 24 - 2 * nesting + 'px' : '24px'" target="_blank">{{ entry.name }}</a>
          </h4>
          <markdown [data]="entry.description"></markdown>
        </td>
        <td class="access-td">
          <i
            [ngClass]="{'fa': true, 'fa-lock': !entry.access_rights, 'fa-unlock': entry.access_rights}"
            aria-hidden="true">
          </i>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="entry.children">
      <ng-container
        *ngTemplateOutlet="datasets; context: { entries: entry.children, nesting: nesting + 1, instance: instance }">
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
